answer - 1

In [ ]:
class person:
    def __init__(self,name,age):
      self.name = name
      self.age = age

    def introduce(self):
        print(f"my name is {self.name} and my age is {self.age}")

In [ ]:
name = person("Anuj Sharma",21)
name.introduce()

my name is Anuj Sharma and my age is 21

answer - 2

In [ ]:
class car:
    def __init__(self,brand,model):
        self.brand = brand
        self.model = model

    def display_info(self):
        print(f"this car's brand is {self.brand} and its model is {self.model}")

In [ ]:
name_1 = car("ford","mustang")
name_1.display_info()

this car's brand is ford and its model is mustang

answer - 3

In [ ]:
class BankAccount:
    def __init__(self,account_number,balance):
        self.account_number = account_number
        self.balance = balance

    def display_balance(self):
        print(f"please give your account_number {self.account_number} and gove your balance {self.balance}")

In [ ]:
bankbalance_1 = BankAccount("8989100078100078","50000000")
bankbalance_1.display_balance()

please give your account_number 8989100078100078 and gove your balance 50000000

answer - 4

In [ ]:
class MobilePhone:
    def __init__(self,brand,model):
        self.brand = brand
        self.model = model

    def make_call(self):
        print(f"The mobile phone brand is : {self.brand} and the nodel is : {self.model}")

In [ ]:
mobilephones_1 = MobilePhone("apple","iphone 15 pro")

In [ ]:
mobilephones_1.make_call()

The mobile phone brand is : apple and the nodel is : iphone 15 pro

answer - 5

In [ ]:
class Book:
    def __init__(self,title,author):
        self.title = title
        self.author = author

    def display_info(self):
        print(f"this book : {self.title} is written by : {self.author}")

In [ ]:
book_1 = Book("1857 ki kranti"," K. D. Malviya")

In [ ]:
book_1.display_info()

this book : 1857 ki kranti is written by :  K. D. Malviya

answer - 6

In [ ]:
class vehicles:
      def __init__(self,make,model,year):
          self.make = make
          self.model = model
          self.year = year

      def start_engine(self):
          print(f"this car make by :  {self.make} model is : {self.model} and year {self.year}")

      def stop_engine(self):
          print(f"this cars make {self.make} and model is {self.model} and year is {self.year}")

In [ ]:
class car(vehicles):
    def __init__(self,make,model,year):
        super().__init__(make,model,year)

    def start_engine(self):
          print(f" this car make by : {self.make} , model is : {self.model} and year : {self.year}")

    def stop_engine(self):
         print(f"this cars make {self.make} and model is {self.model} and year is {self.year}")

In [ ]:
class motorcycle(vehicles):
    def __init__(self,make,model,year):
        super().__init__(make,model,year)

    def start_engine(self):
          print(f"this car make by : {self.make} model is : {self.model} and year : {self.year}")

    def stop_engine(self):
         print(f"this motorcycle make {self.make} and model is {self.model} and year is {self.year}")

In [ ]:
cars_1 = car("ford","mustang",2023)
cars_1.start_engine()
cars_1.stop_engine()

 this car make by : ford , model is : mustang and year : 2023
this cars make ford and model is mustang and year is 2023

In [ ]:
bike_1 = motorcycle("honda","cb 150r",2023)
bike_1.start_engine()
bike_1.stop_engine()

this car make by : honda model is : cb 150r and year : 2023
this motorcycle make honda and model is cb 150r and year is 2023

answer - 7

In [ ]:
class animals:
    def __init__(self,name,category):
        self.name = name
        self.category = category

    def animals_name(self):
        print(f"animal name is : {self.name} and the category is : {self.category}")

In [ ]:
class dog(animals):
    def __init__(self,name,category):
        super().__init__(name,category)

    def sound(self):
          print(f"animal name is : {self.name} and the category is : {self.category} barks")

In [ ]:
class cat(animals):
    def __init__(self,name,category):
        super().__init__(name,category)

    def sounds(self):
        print(f"animal name is : {self.name} and its category is : {self.category} meow")

In [ ]:
dog_1 = dog("tommy","dog")
dog_1.sound()

animal name is : tommy and the category is : dog barks

In [ ]:
cat_1 = cat("simmi","cat")
cat_1.sounds()

animal name is : simmi and its category is : cat meow

answer - 8

In [ ]:
class Library:
    def __init__(self,title,author,publication_year):
        self.title = title
        self.author = author
        self.publication_year = publication_year

    def display_1(self):
        print(f"the title is : {self.title} and author is : {self.author} and publication_year is : {self.publication_year}")

In [ ]:
class Book(Library):
      def __init__(self,title,author,publication_year,genre):
          super().__init__(title,author,publication_year)
          self.genre = genre

      def display_2(self):
          print(f"the title is : {self.title} and author is : {self.author} and publication_year is : {self.publication_year} and genre is : {self.genre}")

In [ ]:
class Majazine(Library):
      def __init__(self,title,author,publication_year,issue_number):
          super().__init__(title,author,publication_year)
          self.issue_number = issue_number

      def display_3(self):
          print(f"the title : {self.title} and author : {self.author} and publication_year : {self.publication_year} and issue_number : {self.issue_number}")

In [ ]:
book_1 = Book("1857 ki kranti"," K. D. Malviya",2023,"fiction")
book_1.display_2()

the title is : 1857 ki kranti and author is :  K. D. Malviya and publication_year is : 2023 and genre is : fiction

In [ ]:
book_2 = Majazine("National Geographic","Various contributors",1888,"September 2023 (Vol. 224, No. 3)")
book_2.display_3()

the title : National Geographic and author : Various contributors and publication_year : 1888 and issue_number : September 2023 (Vol. 224, No. 3)

answer - 9

In [ ]:
class Employee:
      def __init__(self,name,salary,department):
          self.name = name
          self.salary = salary
          self.department = department

      def display_4(self):
          print(f"the employee name is : {self.name} and employee salary is : {self.salary} and department is : {self.department}")

In [ ]:
class Manager(Employee):
      def __init__(self,name,salary,department,assign_task):
          super().__init__(name,salary,department)
          self.assign_task = assign_task

      def display_5(self):
          print(f"the employee name is : {self.name} and employee salary is : {self.salary} and department is : {self.department} and employee task is :{self.assign_task}")

In [ ]:
class staff(Employee):
      def __init__(self,name,salary,department,attend_meeting):
          super().__init__(name,salary,department)
          self.attend_meeting = attend_meeting

      def display_6(self):
          print(f"the employee name is : {self.name} and employee salary is : {self.salary} and department is : {self.department} and employee meeting is :{self.attend_meeting}")

In [ ]:
task_1 = Manager("anuj",1000000 ,"IT","projects")
task_1.display_5()

the employee name is : anuj and employee salary is : 1000000 and department is : IT and employee task is :projects

In [ ]:
task_2 = staff("tushar",500000 ,"worker","live")
task_2.display_6()

the employee name is : tushar and employee salary is : 500000 and department is : worker and employee meeting is :live

answer - 10

In [18]:
class Bank_transaction:
      def __init__(self,account_number,balance_amount):
          self.account_number = account_number
          self.balance_amount = balance_amount

      def withdraw(self):
           print("your bank withdraw is successfull")

      def deposit(self):
           print("your bank deposit is successfull")

In [19]:

class CheckingAccount(Bank_transaction):
      def __init__(self,account_number,balance_amount,deposit_amount,withdraw_amount):
          super().__init__(account_number,balance_amount)
          self.deposit_amount = deposit_amount
          self.withdraw_amount = withdraw_amount

      def withdraw(self):
          self.balance_amount -= self.withdraw_amount
          print(f"your account nunmber is : {self.account_number} and your balance is : {self.balance_amount}")

      def deposit(self):
          self.balance_amount += self.deposit_amount
          print(f"your account nunmber is : {self.account_number} and your balance is : {self.balance_amount}")

In [20]:
class SavingAccount(Bank_transaction):
      def __init__(self,account_number,balance_amount,deposit_amount,withdraw_amount):
          super().__init__(account_number,balance_amount)
          self.deposit_amount = deposit_amount
          self.withdraw_amount = withdraw_amount

      def withdraw(self):
          self.balance_amount -= self.withdraw_amount
          print(f"your account number is : {self.account_number} and your balance is :{self.balance_amount}")

      def deposit(self):
          self.balance_amount += self.deposit_amount
          print(f"your account number is : {self.account_number} and your balance is : {self.balance_amount}")

In [21]:
bankdetails_1 = CheckingAccount(33445677765677,30000,3000,2000)
bankdetails_1.withdraw()
bankdetails_1.deposit()

your account nunmber is : 33445677765677 and your balance is : 28000
your account nunmber is : 33445677765677 and your balance is : 31000

In [23]:
bankdetails_2 = SavingAccount(2287676310101000 , 100000000,30000,3000000)
bankdetails_2.deposit()
bankdetails_2.withdraw()

your account number is : 2287676310101000 and your balance is : 100030000
your account number is : 2287676310101000 and your balance is :97030000

answer - 11

In [7]:
class Person:
      def __init__(self,name,age,address):
          self.name = name
          self.age = age
          self.address = address

      def details(self):
          print(f"name is :{self.name} and age : {self.age} and address is : {self.address}")

In [8]:
class student(Person):
      def __init__(self,name,age,address,student_id):
          super().__init__(name,age,address)
          self.student_id = student_id

      def details_1(self):
          print(f"name is :{self.name} and age : {self.age} and address is : {self.address} and student id is : {self.student_id}")

In [9]:
class teacher(Person):
      def __init__(self,name,age,address,teacher_id):
          super().__init__(name,age,address)
          self.teacher_id = teacher_id

      def details_2(self):
          print(f"name is :{self.name} and age : {self.age} and address is : {self.address} and teacher id is : {self.teacher_id}")

In [10]:
class staff(Person):
      def __init__(self,name,age,address,staff_id):
          super().__init__(name,age,address)
          self.staff_id = staff

      def details_3(self):
          print(f"name is :{self.name} and age : {self.age} and address is : {self.address} and staff id is : {self.staff_id}")

In [12]:
student_1 = student("anuj",21,"alwar","st432")
student_1.details_1()

name is :anuj and age : 21 and address is : alwar and student id is : st432

In [13]:
teacher_1 = teacher("balram",21,"alwar","te432")
teacher_1.details_2()

name is :balram and age : 21 and address is : alwar and teacher id is : te432

In [14]:
staff_1 = staff("tushar",21,"alwar","st432")
staff_1.details_3()

name is :tushar and age : 21 and address is : alwar and staff id is : <class '__main__.staff'>